@use '../../styles/base';
@use '../../styles/variables';

.list-wrapper {
    @extend %flex-column;
    padding: 2em;
    .title {
        font-size: 2.5em;
        line-height: 1em;
    }

    .filter-wrapper {
        display: flex;
        align-items: center;
        padding: 2em;
        gap: 2em;
        flex-wrap: wrap;

        .select-wrapper {
            @extend %flex-column;
            align-items: center;
    
            label {
                margin-top: 2em;
            }

            button {
                @extend %button;
                margin-top: 3em;
            }
        }

        .message-container {
            @extend %flex-center;
            align-items: center;
            text-align: center;
            font-weight: 700;
            width: 20em;
            height: 5em;
            padding: 2em;
            border: 1px solid variables.$dark-text;
            box-shadow: variables.$box-shadow;
        }
    }
}

@media screen and (max-width: 500px) {
    .list-wrapper {
        padding: 0;
    }
}