@use '../../styles/base';

.result-wrapper {
    @extend %flex-center;
    border-top: 0.05em solid black;

    &:nth-child(odd) {
        background-color: rgb(215, 227, 255);
    }

    p {
        margin: 2em;
        font-size: 14px;
    }

    .bold {
        font-weight: 600;
    }

    .team-result-divider {
        margin-right: -1.5em;
        margin-left: -1.5em;
    }
}

@media screen and (max-width: 500px) {
    .result-wrapper {
      
        p {
            margin: 0.3em;
            font-size: 0.85em;
            line-height: 3em;
        }

        .team-result-divider {
            margin-right: 0;
            margin-left: 0;
        }
    }
}