.result-wrapper {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 0.2em;

    p {
        margin: 2em;
    }

    .team-result-divider {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .result-wrapper {
      
        p {
            margin: 0.3em;
            font-size: 14px;
            line-height: 40px;
        }
    }
}