@use '../../styles/base';

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 2.5em;
        line-height: 1em;
        text-decoration: underline;
    }

    .filter-wrapper {
        display: flex;
        align-items: center;
        padding: 2em;
        gap: 2em;
        flex-wrap: wrap;

        .select-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            label {
                margin-top: 2em;
            }

            button {
                @extend %button;
                margin-top: 3em;
            }
        }

        .message-container {
            font-weight: 700;
            width: 20em;
        }
    }
}