.game-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;

    .game-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }

    .players-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }

    .date-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }
}