.players-form {
    background-color: rgb(68, 49, 174);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding: 2em;
}

// Över är samma scss som i GameForm!!!