@use '../styles/base';
@use '../styles/variables';

.teamContainer-wrapper {
    @extend %flex-center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .team-wrapper {
        @extend %flex-center;
        align-items: center;
    }
    
    .button-wrapper {
        @extend %flex-center;
        align-items: center;
    
        button {
            @extend %button;
            width: 15em;
        }
    }
}

input, select {
    outline: none;
    font-size: 16px;
    padding: 0.5em;
    border-radius: 0.3em; 
    border: none;
    box-shadow: 0 0 4px;
}

label {
    font-size: 14px;
    font-weight: 200;
}

